.testimonial{
    height: 700px;

}

.testimonial h2{
    margin: auto;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: -50px;
    font-weight: 600;
}
.row-testimonial{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.small-testimonial-container{
    /* position: absolute; */
    /* right: -650px; */
    margin: auto;
    transition: right 0.1s linear;
    /* transform: translateY(10%);   */
}




.small-testimonial-container .col{
    margin: 20px;
    width: 22rem;
    height: 25rem;
    background-color: rgb(234, 234, 234);
    position: relative;
    display: flex;
    flex-direction: column; 
    font-size: 1.2rem;
    text-align: center;

}
.small-testimonial-container .col .client-photo{
    width: 100px;
    height: 150px;

}
.small-testimonial-container .col .client-photo img{
    width: 100px;
    position: absolute;
    height: 100px;
    transform: translate(65%, 20%);

}
.small-testimonial-container .col .client-feedback{
   padding: 10px;
}
.contact-icons{
    padding: 10px;
}
.contact-icons img{
    width: 30px;
    height: 30px;
}
